@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Roboto&display=swap");

/* --- REMOVING DEFAULT --- */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* --- COLORS --- */

/* Default theme colors */
:root {
	--primary: #fdc124;
	--bg-col: #fff;
	--scroll-bg: #ececec;

	/*Navigation*/
	--nav-bg: #fdc124;
	--nav-links: #fff;
	--nav-links-hover: #000;
	--nav-btn-bg: #fff;
	--nav-btn-bg-hover: #ddd;
	--nav-btn-txt: #000;
	--nav-submenu-bg: #f9f9f9;
	--nav-submenu-head: #fdc124;
	--nav-submenu-links: #000;
	--nav-submenu-highlight: #ddd;
	--nav-burger: #fff;

	/*Text*/
	--heading: #000;
	--body: #000;
	--primary-btn-bg: #fdc124;
	--secondary-btn-border: #bdbdbd;

	/*Footer*/
	--foot-bg: #f2f2f2;
	--foot-line: #bdbdbd;
	--foot-links: #333333;
	--foot-head: #000;

	/*ZigZag Decal*/
	--zig-l: #fdc124;
	--zig-b: #bdbdbd;
	--zig-f: #fdc124;

	/*Layout*/
	--gutter-width: 15%;
	--gap: 80px;
	--cont-width: 300px;
	--cont-gap: 100px;
}

/* Dark theme colors */
@media (prefers-color-scheme: dark) {
	:root {
		--primary: #fdd368;
		--bg-col: #121212;
		--scroll-bg: #000;

		/*Navigation*/
		--nav-bg: #fdd368;
		--nav-links: #000;
		--nav-links-hover: #fdfdfd;
		--nav-btn-bg: #666;
		--nav-btn-bg-hover: #000;
		--nav-btn-txt: #fdfdfd;
		--nav-submenu-bg: #666;
		--nav-submenu-head: #fdd368;
		--nav-submenu-links: #e0e0e0;
		--nav-submenu-highlight: #888;
		--nav-burger: #000;

		/*Text*/
		--heading: #e0e0e0;
		--body: #e0e0e0;
		/* --body: #a0a0a0; */
		--primary-btn-bg: #fdc124;
		--secondary-btn-border: #bdbdbd;

		/*Footer*/
		--foot-bg: #000;
		--foot-line: #bdbdbd;
		--foot-links: #a0a0a0;
		--foot-head: #e0e0e0;

		/*ZigZag Decal*/
		--zig-l: #fdd368;
		--zig-b: #bdbdbd;
		--zig-f: #fdd368;
	}
}

/* --- CUSTOMIZING SCROLLBAR --- */

/* The emerging W3C standard
   that is currently Firefox-only */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--primary) var(--scroll-bg);
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
	width: 12px;
}
*::-webkit-scrollbar-track {
	background: var(--scroll-bg);
}
*::-webkit-scrollbar-thumb {
	background-color: var(--primary);
	border-radius: 20px;
	border: 3px solid var(--scroll-bg);
}

/* --- TYPOGRAPHY --- */

nav,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "PT Serif", serif;
	color: var(--heading);
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--body);
}

/* --- FONT SIZES --- */

nav {
	font-size: 18px;
}
p {
	font-size: 1rem;
	padding-bottom: 16px;
	line-height: 1.5;
}
h1,
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.5rem;
	padding-bottom: 16px;
}

/* --- GLOBAL BACKGROUND COLOR --- */

body {
	background-color: var(--bg-col);
}
